/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  margin: 0;
  padding: 0;
}
.content-container {
  max-width: 1140px;
  margin: auto;
}
.content-container h1,
.search-container {
  text-align: center;
}
.search-container {
  position: relative;
  width: 30%;
  margin: auto;
}
.search-container img {
  position: absolute;
  right: 85px;
  top: 2px;
  width: 20px;
}
.tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
}
.tabitems {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  text-align: center;
}
